@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    html,
    body ::-webkit-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        scroll-padding-top: 100px;
    }
    *:disabled {
        @apply cursor-not-allowed;
    }
    .input {
        @apply bg-gray-50 border rounded-md border-gray-300 text-gray-900  focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mt-1;
    }
}
.help-text {
    @apply text-xs mt-2 font-medium  text-gray-500 dark:text-gray-400;
}

.setup_label {
    @apply text-base font-medium text-gray-600 dark:text-white;
}

/* nav styles */

.dropdown-link {
    @apply block text-gray-800 text-sm hover:text-primary-500 font-medium p-2 hover:bg-primary-100;
}
.dropdown__menu {
    @apply z-10 overflow-hidden divide-gray-100  md:max-w-xs w-full;
}
/* end styles */




/* Article TOC Styles */

/* General TOC Container */
.toc-list {
    @apply list-none p-0 m-0 grid grid-cols-1 gap-2;
}

/* TOC Item Styles */
.toc-item {
    @apply text-gray-500; /* Space between TOC items */
}

/* Heading Levels Styling */
.toc-level-1 {
    @apply text-base font-medium text-gray-700 relative; /* Add padding and improved color */
}

.toc-level-2 {
    @apply text-base font-medium text-gray-700 relative; /* Add padding and improved color */
}

.toc-level-2::before {
    content: "";
    @apply absolute top-1/2 left-0 w-0 h-4 bg-gray-300; /* Add a line indicator for sub-items */
    transform: translateY(-50%);
}

.toc-level-3 {
    @apply text-sm font-normal text-gray-600 pl-4 relative; /* Additional padding and improved color */
}

.toc-level-3::before {
    content: "";
    @apply absolute top-1/2 left-0 w-0 h-4 bg-gray-300; /* Line indicator for sub-items */
    transform: translateY(-50%);
}

/* Additional Styles for Better Visibility */
.toc-item a {
    @apply text-sky-500 hover:text-primary-700;
}

/* End */



/* Dropdown */
    /* Keyframes for the dropdown animation */
    @keyframes dropdownIn {
        from {
            transform: translateY(-100%);
        }
        to {
            transform: translateY(0);
        }
    }

    @keyframes dropdownOut {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-100%);
        }
    }

    /* Classes to control animations */
    .animate-dropdown-in {
        animation: dropdownIn 0.3s ease-out forwards;
    }

    .animate-dropdown-out {
        animation: dropdownOut 0.3s ease-in forwards;
    }


/* end  */